In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
SportsList_url = 'https://en.wikipedia.org/wiki/Summer_Olympic_Games#List_of_Olympic_sports'
response = requests.get(SportsList_url)
soup = BeautifulSoup(response.text, 'html.parser')
SportsList_table = soup.findAll('td', attrs={'valign':'top'})

In [3]:
SportsList_parse = []
count = 0

# one table is made up of 2 tables next to each other
for i in SportsList_table:
    for sport in i.table.findAll('tr')[1:]:
        SportID = count
        SportName = sport.findAll('td')[0].a.text
        SportYears = sport.findAll('td')[1].text
        SportLink = "https://en.wikipedia.org" + sport.findAll('td')[0].a['href']
        SportsList_parse.append({'id':SportID,
                                 'sport':SportName,
                                 'active_years':SportYears,
                                 'wiki_link':SportLink})
        count += 1

In [4]:
SportsList_parse

[{'active_years': '1900–1908, 1920, since 1972',
  'id': 0,
  'sport': 'Archery',
  'wiki_link': 'https://en.wikipedia.org/wiki/Archery_at_the_Summer_Olympics'},
 {'active_years': 'All',
  'id': 1,
  'sport': 'Athletics',
  'wiki_link': 'https://en.wikipedia.org/wiki/Athletics_at_the_Summer_Olympics'},
 {'active_years': 'Since 1992',
  'id': 2,
  'sport': 'Badminton',
  'wiki_link': 'https://en.wikipedia.org/wiki/Badminton_at_the_Summer_Olympics'},
 {'active_years': '1992–2008, since 2020',
  'id': 3,
  'sport': 'Baseball',
  'wiki_link': 'https://en.wikipedia.org/wiki/Baseball_at_the_Summer_Olympics'},
 {'active_years': 'Since 1936',
  'id': 4,
  'sport': 'Basketball',
  'wiki_link': 'https://en.wikipedia.org/wiki/Basketball_at_the_Summer_Olympics'},
 {'active_years': '1900',
  'id': 5,
  'sport': 'Basque pelota',
  'wiki_link': 'https://en.wikipedia.org/wiki/Basque_pelota_at_the_1900_Summer_Olympics'},
 {'active_years': '1904, 1908, since 1920',
  'id': 6,
  'sport': 'Boxing',
  'wiki_link': 'https://en.wikipedia.org/wiki/Boxing_at_the_Summer_Olympics'},
 {'active_years': 'Since 1936',
  'id': 7,
  'sport': 'Canoeing and kayaking',
  'wiki_link': 'https://en.wikipedia.org/wiki/Canoeing_and_kayaking_at_the_Summer_Olympics'},
 {'active_years': '1900',
  'id': 8,
  'sport': 'Cricket',
  'wiki_link': 'https://en.wikipedia.org/wiki/Cricket_at_the_1900_Summer_Olympics'},
 {'active_years': '2020 only',
  'id': 9,
  'sport': 'Sport climbing',
  'wiki_link': 'https://en.wikipedia.org/wiki/Sport_climbing_at_the_2020_Summer_Olympics'},
 {'active_years': '1900',
  'id': 10,
  'sport': 'Croquet',
  'wiki_link': 'https://en.wikipedia.org/wiki/Croquet_at_the_1900_Summer_Olympics'},
 {'active_years': 'All',
  'id': 11,
  'sport': 'Cycling',
  'wiki_link': 'https://en.wikipedia.org/wiki/Cycling_at_the_Summer_Olympics'},
 {'active_years': 'Since 1904',
  'id': 12,
  'sport': 'Diving',
  'wiki_link': 'https://en.wikipedia.org/wiki/Diving_at_the_Summer_Olympics'},
 {'active_years': '1900, since 1912',
  'id': 13,
  'sport': 'Equestrian',
  'wiki_link': 'https://en.wikipedia.org/wiki/Equestrian_at_the_Summer_Olympics'},
 {'active_years': 'All',
  'id': 14,
  'sport': 'Fencing',
  'wiki_link': 'https://en.wikipedia.org/wiki/Fencing_at_the_Summer_Olympics'},
 {'active_years': '1908, 1920, since 1928',
  'id': 15,
  'sport': 'Field hockey',
  'wiki_link': 'https://en.wikipedia.org/wiki/Field_hockey_at_the_Summer_Olympics'},
 {'active_years': '1900–1928, since 1936',
  'id': 16,
  'sport': 'Football',
  'wiki_link': 'https://en.wikipedia.org/wiki/Football_at_the_Summer_Olympics'},
 {'active_years': '1900, 1904, since 2016',
  'id': 17,
  'sport': 'Golf',
  'wiki_link': 'https://en.wikipedia.org/wiki/Golf_at_the_Summer_Olympics'},
 {'active_years': 'All',
  'id': 18,
  'sport': 'Gymnastics',
  'wiki_link': 'https://en.wikipedia.org/wiki/Gymnastics_at_the_Summer_Olympics'},
 {'active_years': '1936, since 1972',
  'id': 19,
  'sport': 'Handball',
  'wiki_link': 'https://en.wikipedia.org/wiki/Handball_at_the_Summer_Olympics'},
 {'active_years': '1908',
  'id': 20,
  'sport': 'Jeu de paume',
  'wiki_link': 'https://en.wikipedia.org/wiki/Jeu_de_paume_at_the_1908_Summer_Olympics'},
 {'active_years': '1964, since 1972',
  'id': 21,
  'sport': 'Judo',
  'wiki_link': 'https://en.wikipedia.org/wiki/Judo_at_the_Summer_Olympics'},
 {'active_years': '2020 only',
  'id': 22,
  'sport': 'Karate',
  'wiki_link': 'https://en.wikipedia.org/wiki/Karate_at_the_2020_Summer_Olympics'},
 {'active_years': '1904, 1908',
  'id': 23,
  'sport': 'Lacrosse',
  'wiki_link': 'https://en.wikipedia.org/wiki/Lacrosse_at_the_Summer_Olympics'},
 {'active_years': 'Since 1912',
  'id': 24,
  'sport': 'Modern pentathlon',
  'wiki_link': 'https://en.wikipedia.org/wiki/Modern_pentathlon_at_the_Summer_Olympics'},
 {'active_years': '1900, 1908, 1920, 1924, 1936',
  'id': 25,
  'sport': 'Polo',
  'wiki_link': 'https://en.wikipedia.org/wiki/Polo_at_the_Summer_Olympics'},
 {'active_years': '1908',
  'id': 26,
  'sport': 'Rackets',
  'wiki_link': 'https://en.wikipedia.org/wiki/Rackets_at_the_1908_Summer_Olympics'},
 {'active_years': 'Since 1984',
  'id': 27,
  'sport': 'Rhythmic gymnastics',
  'wiki_link': 'https://en.wikipedia.org/wiki/Rhythmic_gymnastics'},
 {'active_years': '1904',
  'id': 28,
  'sport': 'Roque',
  'wiki_link': 'https://en.wikipedia.org/wiki/Roque_at_the_1904_Summer_Olympics'},
 {'active_years': 'Since 1900',
  'id': 29,
  'sport': 'Rowing',
  'wiki_link': 'https://en.wikipedia.org/wiki/Rowing_at_the_Summer_Olympics'},
 {'active_years': '1900, 1908, 1920, 1924',
  'id': 30,
  'sport': 'Rugby union',
  'wiki_link': 'https://en.wikipedia.org/wiki/Rugby_union_at_the_Summer_Olympics'},
 {'active_years': 'Since 2016',
  'id': 31,
  'sport': 'Rugby sevens',
  'wiki_link': 'https://en.wikipedia.org/wiki/Rugby_sevens_at_the_Summer_Olympics'},
 {'active_years': '1900, since 1908',
  'id': 32,
  'sport': 'Sailing',
  'wiki_link': 'https://en.wikipedia.org/wiki/Sailing_at_the_Summer_Olympics'},
 {'active_years': '1896, 1900, 1908–1924, since 1932',
  'id': 33,
  'sport': 'Shooting',
  'wiki_link': 'https://en.wikipedia.org/wiki/Shooting_at_the_Summer_Olympics'},
 {'active_years': '2020 only',
  'id': 34,
  'sport': 'Skateboarding',
  'wiki_link': 'https://en.wikipedia.org/wiki/Skateboarding_at_the_2020_Summer_Olympics'},
 {'active_years': '1996–2008, since 2020',
  'id': 35,
  'sport': 'Softball',
  'wiki_link': 'https://en.wikipedia.org/wiki/Softball_at_the_Summer_Olympics'},
 {'active_years': '2020 only',
  'id': 36,
  'sport': 'Surfing',
  'wiki_link': 'https://en.wikipedia.org/wiki/Surfing_at_the_2020_Summer_Olympics'},
 {'active_years': 'All',
  'id': 37,
  'sport': 'Swimming',
  'wiki_link': 'https://en.wikipedia.org/wiki/Swimming_at_the_Summer_Olympics'},
 {'active_years': 'Since 1984',
  'id': 38,
  'sport': 'Synchronized Swimming',
  'wiki_link': 'https://en.wikipedia.org/wiki/Synchronized_swimming_at_the_Summer_Olympics'},
 {'active_years': 'Since 1988',
  'id': 39,
  'sport': 'Table tennis',
  'wiki_link': 'https://en.wikipedia.org/wiki/Table_tennis_at_the_Summer_Olympics'},
 {'active_years': 'Since 2000',
  'id': 40,
  'sport': 'Taekwondo',
  'wiki_link': 'https://en.wikipedia.org/wiki/Taekwondo_at_the_Summer_Olympics'},
 {'active_years': '1896–1924, since 1988',
  'id': 41,
  'sport': 'Tennis',
  'wiki_link': 'https://en.wikipedia.org/wiki/Tennis_at_the_Summer_Olympics'},
 {'active_years': 'Since 2000',
  'id': 42,
  'sport': 'Trampoline',
  'wiki_link': 'https://en.wikipedia.org/wiki/Trampoline'},
 {'active_years': 'Since 2000',
  'id': 43,
  'sport': 'Triathlon',
  'wiki_link': 'https://en.wikipedia.org/wiki/Triathlon_at_the_Summer_Olympics'},
 {'active_years': '1900–1920',
  'id': 44,
  'sport': 'Tug of war',
  'wiki_link': 'https://en.wikipedia.org/wiki/Tug_of_war_at_the_Summer_Olympics'},
 {'active_years': 'Since 1964',
  'id': 45,
  'sport': 'Volleyball',
  'wiki_link': 'https://en.wikipedia.org/wiki/Volleyball_at_the_Summer_Olympics'},
 {'active_years': '1908',
  'id': 46,
  'sport': 'Water motorsports',
  'wiki_link': 'https://en.wikipedia.org/wiki/Water_motorsports_at_the_1908_Summer_Olympics'},
 {'active_years': 'Since 1900',
  'id': 47,
  'sport': 'Water Polo',
  'wiki_link': 'https://en.wikipedia.org/wiki/Water_polo_at_the_Summer_Olympics'},
 {'active_years': '1896, 1904, since 1920',
  'id': 48,
  'sport': 'Weightlifting',
  'wiki_link': 'https://en.wikipedia.org/wiki/Weightlifting_at_the_Summer_Olympics'},
 {'active_years': '1896, since 1904',
  'id': 49,
  'sport': 'Wrestling',
  'wiki_link': 'https://en.wikipedia.org/wiki/Wrestling_at_the_Summer_Olympics'}]

In [5]:
Olympic_years = list(range(1896,2017,4))
OlympicMedals_data = []

for year in Olympic_years:
    data = []
    Medals_url = 'https://en.wikipedia.org/wiki/'+str(year)+"_Summer_Olympics_medal_table"
    response = requests.get(Medals_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    # finding medal count table, discarding first header row
    try:
        MedalCount_table = soup.find('table').findAll('tr')[1:]
        host = soup.find('table').find('tr', attrs={'bgcolor':'#CCCCFF'}).a.text
    except:
        pass
    
    # looping through medal count table by row 
    for row in MedalCount_table:
        # table formats are inconsistent, will need further work
        try:
            cell = row.findAll('td')
            rank = cell[0].text
            nation = cell[1].a.text
            gold = cell[2].text
            silver = cell[3].text
            bronze = cell[4].text
            data.append({'rank':rank,
                         'nation':nation,
                         'gold':gold,
                         'silver':silver,
                         'bronze':bronze})
        except:
            continue
        
    OlympicMedals_data.append({'year':year,'host':host,'data':data})
    print(str(year)+" is done")

1896 is done
1900 is done
1904 is done
1908 is done
1912 is done
1916 is done
1920 is done
1924 is done
1928 is done
1932 is done
1936 is done
1940 is done
1944 is done
1948 is done
1952 is done
1956 is done
1960 is done
1964 is done
1968 is done
1972 is done
1976 is done
1980 is done
1984 is done
1988 is done
1992 is done
1996 is done
2000 is done
2004 is done
2008 is done
2012 is done
2016 is done

In [6]:
# Creating df to manipulate
Olympics_df = pd.DataFrame(columns=['Year','Host','Rank','Nation','Gold_count','Silver_count','Bronze_count'])
index = 0

# Looping through created dictionary/json
for i in OlympicMedals_data:
    for ii in i['data']:
        Olympics_df.set_value(index,'Year',i['year'])
        Olympics_df.set_value(index,'Host',i['host'])
        try: 
            Olympics_df.set_value(index,'Rank',ii['rank'])
            Olympics_df.set_value(index,'Nation',ii['nation'])
            Olympics_df.set_value(index,'Gold_count',ii['gold'])
            Olympics_df.set_value(index,'Silver_count',ii['silver'])
            Olympics_df.set_value(index,'Bronze_count',ii['bronze'])
        except:
            pass
        index += 1

In [7]:
Olympics_df.groupby('Year').count()

      Host  Rank  Nation  Gold_count  Silver_count  Bronze_count
Year
1896    11    11      11          11            11            11
1900    21    21      21          21            21            21
1904     8     8       8           8             8             8
1908    18    18      18          18            18            18
1912    17    17      17          17            17            17
1920    20    20      20          20            20            20
1924    22    22      22          22            22            22
1928    25    25      25          25            25            25
1932    24    24      24          24            24            24
1952    33    33      33          33            33            33
1956    32    32      32          32            32            32
1964    28    28      28          28            28            28
1968    37    37      37          37            37            37
1972    32    32      32          32            32            32
1976    33    33      33          33            33            33
1980    36    36      36          36            36            36
1988    35    35      35          35            35            35